:root{
    --one: #000000;
    --two: #150050;
    --three: #3F0071;
    --four: #FB2576;
    --black: #0B1215;
    --white: #FAF9F6;
} 
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/assets/images/registrar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
form{
    margin: 5rem 0 0 0;
    width: 40vw;
    height: 80vh;
    background-color: var(--three);
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 2rem .125rem var(--one);
}
