:root{
    --one: #000000;
    --two: #150050;
    --three: #3F0071;
    --four: #FB2576;
    --black: #0B1215;
    --white: #FAF9F6;
} 
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/assets/images/fondo-landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.isle-container{
    width: 100vw;
    height: 100vh;
}
a{
    width: 20vw;
    height: 10vh;
    text-decoration: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    max-width: 100%;
    max-height: 100%;
}

#uno{
    margin: 0 0 5rem 0;
}
.welcome-text{
    font-size: 1.5rem;
    color: var(--white);
}
#main-logo{
    width: 10vw;
}

.container-main{
    display: flex;
    justify-content: center;
    margin: 6rem 0 0 0;
}
.isle-container{
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    width: 100%;
    height: 20vh;
}

.isle{
    font-size: 1.3rem;
    width: 20vw;
    height: 10vh;
    background-image: linear-gradient(90deg,var(--one),var(--three),var(--one));
    background-size: 200%;
    background-position: right;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 .250rem .125rem rgba(250 , 249, 246, 0.5);
    transition: all 0.8s ease;
    cursor: pointer;
}
.isle:hover{
    background-position: left;
    filter: hue-rotate(30deg);
    box-shadow: 0 0 .250rem .250rem rgba(250 , 249, 246, 1);
    transform: scale(1.02);
    transition: all 0.8s ease;
}
.logo-isle{
    width: 30vw;
    height: 20vh;
    background-image: linear-gradient(90deg,var(--one),var(--three),var(--one));
    background-size: 200%;
    background-position: right;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 .250rem .125rem rgba(250 , 249, 246, 0.5);
}
.button-text{
    color: var(--white);
    text-decoration: none;
}
footer{
    font-size: 1rem;
    color: var(--white);
    background-image: linear-gradient(90deg,rgba(255,255,255,0)20%,var(--three),rgba(255,255,255,0)80%);
    height: 5vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

}