:root{
    --one: #000000;
    --two: #150050;
    --three: #3F0071;
    --four: #FB2576;
    --black: #0B1215;
    --white: #FAF9F6;
    --gray: #26252C;
} 
*{
    margin: 0;
    padding: 0;
    
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-image: url(/assets/images/fondo-registrar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.form{
    margin: 5rem 0 0 0;
    background-color: var(--gray);
    width: 40vw;
    height: 80vh;
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 2rem .125rem var(--one);
    display: flex;
    justify-content: center;
}
form{
    color: var(--white);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.entrega{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.submit-button{
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.nombre,.apellido,.dni,.producto,.color,.fecha,.entrega,.precio{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type=text],input[type=date],input[type=number],select{
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--black);
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: none;
    transition: box-shadow linear 0.2s;
    color: var(--white);
}
input[type=text]:focus,input[type=number]:focus{
    outline: 1px solid var(--four);
    transition: outline linear 0.2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select{
    transform: scale(1);
    transition: transform linear 0.1s;
    width: 8rem;
}
select:focus{
    transform: scale(1.1);
    transition: transform linear 0.1s;
}
.atras{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--white);
    text-align: center;    
    border: none;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
a:hover{
    color: var(--black);
    border: none;
}
.boton{
    display: flex;
    justify-content: space-between;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    border: none;
    border-radius: 0.5rem;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
    transform: scale(1);
    transition: background-color linear 0.2s, color linear .2s;
}
button:hover{
    box-shadow: 0rem 0rem 1rem 0rem rgba(251,37,118,1);
    background-color: var(--four);
    outline: 1px solid var(--black);
    color: var(--black);
    transition: background-color ease-in 0.2s, color linear .2s, box-shadow linear .2s;
}
